<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

	<bean id="myGuest" class="net.gfu.seminar.spring.lab.student.Guest">
		<property name="firstName" value="Anna"/>
		<property name="lastName" value="Gramm"/>
	</bean>
	
	<bean id="greeting" class="net.gfu.seminar.spring.lab.student.MockGreetingService" init-method="init" destroy-method="destroy">
		<property name="guest" ref="myGuest"/>
	</bean>
</beans>
